aiohappyeyeballs==2.6.1
aiohttp==3.13.2
aiosignal==1.4.0
annotated-types==0.7.0
anyio==4.10.0
attrs==25.3.0
beautifulsoup4==4.13.4
Brotli==1.1.0
cabarchive==0.2.4
certifi==2025.7.14
cffi==1.17.1
chardet==5.2.0
charset-normalizer==3.4.2
colorama==0.4.6
colorlite==0.0.2
contourpy==1.3.2
curl_cffi==0.12.0
cx_Freeze==8.4.0
cx_Logging==3.2.1
cycler==0.12.1
DataProperty==1.1.0
deep-translator==1.11.4
defusedxml==0.7.1
dill==0.4.0
distro==1.9.0
dnspython==2.7.0
fastapi==0.116.2
filelock==3.19.1
fonttools==4.59.0
frictionless==5.18.1
frozendict==2.4.6
frozenlist==1.8.0
fsspec==2025.9.0
gitdb==4.0.12
GitPython==3.1.44
groq==0.31.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
huggingface-hub==0.35.3
humanize==4.12.3
idna==3.10
isodate==0.7.2
Jinja2==3.1.6
joblib==1.5.1
jsonpickle==4.1.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.8
lief==0.16.6
llvmlite==0.46.0
lxml==5.4.0
lxml-stubs==0.5.1
markdown-it-py==3.0.0
marko==2.1.4
MarkupSafe==3.0.2
matplotlib==3.10.3
mbstrdecoder==1.1.4
mdurl==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
ms3==2.6.0
multidict==6.7.0
multiprocess==0.70.18
multitasking==0.0.11
music21==9.7.1
networkx==3.5
nodejs-wheel-binaries==24.12.0
numba==0.63.1
numpy==2.3.4
openai-whisper==20250625
packaging==25.0
pathos==0.3.4
pathvalidate==3.3.1
peewee==3.18.2
petl==1.7.17
pillow==11.3.0
platformdirs==4.3.8
pox==0.3.6
ppft==1.7.7
propcache==0.4.1
protobuf==6.31.1
psutil==7.0.0
pycparser==2.22
pydantic==2.11.7
pydantic_core==2.33.2
Pygments==2.19.2
pymongo==4.13.2
pyparsing==3.2.3
PySide6==6.9.1
PySide6_Addons==6.9.1
PySide6_Essentials==6.9.1
pytablewriter==1.0.0
python-dateutil==2.9.0.post0
python-docx==1.2.0
python-slugify==8.0.4
pytubefix==10.3.6
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2025.9.18
reportlab==4.4.2
requests==2.32.4
rfc3986==2.0.0
rich==14.0.0
rpds-py==0.26.0
safetensors==0.6.2
setuptools==80.9.0
shellingham==1.5.4
shiboken6==6.9.1
shtab==1.7.2
simpleeval==1.0.3
six==1.17.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.7
standard-mailcap==3.13.0
starlette==0.48.0
striprtf==0.0.29
sympy==1.14.0
tabledata==1.3.4
tabulate==0.9.0
tcolorpy==0.1.7
termcolor==2.5.0
text-unidecode==1.3
thinkst-zippy==0.1.3
tiktoken==0.12.0
tmep==3.0.1
tokenizers==0.22.1
torch==2.8.0
tqdm==4.67.1
transformers==4.57.1
typepy==1.3.4
typer==0.16.0
typing-inspection==0.4.1
typing_extensions==4.14.1
tzdata==2025.2
Unidecode==1.4.0
urllib3==2.5.0
validators==0.35.0
visidata==3.2
watchdog==6.0.0
webcolors==24.11.1
websockets==15.0.1
windows-curses==2.4.1
yarl==1.22.0
yfinance==0.2.65
youtube-transcript-api==1.2.3
